.name {
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.03em;
}

.status {
  display: block;
  width: 15px;
  height: 15px;
  margin-right: 15px;
  border-radius: 50%;
}

.avatar {
  margin-right: 15px;
}
